$color-avatar-bg: #67688C;

$color-menu-fg: #fff;
$color-menu-bg: #41426F;
$color-text: #343434;

$color-chat-bg: #F7F5FB;

$color-msg-bg: #E1DFE5;
$color-user-msg-bg: #41426F;

$border-radius: 2px;

$font-size-sm: 12px;
$font-size: 14px;
$font-size-lg: 16px;
