@implements ILayoutComponent

<div class="container">
    <div class="col-md-4 fs-menu">
        <NavMenu />
    </div>
    <div class="col-xs-12 col-md-8 fs-chat">
        @Body
    </div>
</div>

@functions {
    public RenderFragment Body { get; set; }
}
