@page "/counter"
@inherits MyAppComponent
@using Minimal

<h1>Counter</h1>

<p>Current count: @State.Count</p>

<button onclick=@(() => Dispatch(new IncrementByValueAction(3)))>Click me</button>
