@page "/counter"
@inherits BlazorHosted.Client.MyAppComponent
@using BlazorHosted.Client

<h1>Counter</h1>

<p>Current count: @State.Count</p>

<button @onclick(() => Dispatch(new IncrementByValueAction(3)))>Click me</button>
