@page "/counter"
@inherits MyAppComponent
@using BlazorStandalone

<h1>Counter</h1>

<p>Current count: @Mdl.Count</p>

<button @onclick(async () => await ProcessAsync(new IncrementByValueAction(3)))>Click me</button>
